




.itemCart{
    background-color: #fff;
    margin-top: 1vh;
    display: flex;
    margin: 1rem 0rem;
    border-radius: .4rem;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 30vh;
    img{
        object-fit: contain;
        margin-right: 1rem;
        width: 25vh;
        height: 25vh;
        border-radius: .4rem;
       
    }

}
.itemCartProps{
    padding: .4rem;
    width: 30vw;

}

.containerCartProducts{
    min-height: 70vh;
    max-height: 70vh;
    display: flex;
    width: 50vw;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    overflow-y: auto   ;
}
.containerCart{
    width: 100vw;
    height: 100vh;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titelCart{
    width: 60vw;
    margin-top: 2vh;
}
.containerEndCart{
    margin-top: 2vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.containerTotal{
    background-color: #fff;
    border-radius: .4rem;
    height: 4vh;
    width: 15vw;
    p{ 
        text-align: center;
        height: 100%;
        font-size: 1.1vw;
    }

}