.CarrouselHome{
    width: 100vw !important;
    display: flex;
    justify-content: center;
}
.carrousel{
    width: 80vw !important;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carrouselItem{
    width: 80vw !important;
    height: 60vh !important;
    object-fit: fill;
    pointer-events: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6% !important;
    padding: 0;
    color: rgb(255, 255, 255) !important;
    text-align: center;
    background: none;
    border: 0;
    opacity: 1 !important;
    transition: opacity .15s ease;
    span{
        width: 4.4rem !important;
        height: 5.4rem !important;
    }
}