$primaryColor: #9b205c;
$secondaryColor: #b7a3af;
.containerPrincipalStore{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    height: 90vh;
    width: 100vw;

}


.storeContainer{
    display: grid;
    grid-template-columns: 10vw 60vw;
    width: 70vw;
    height: 90vh;
}



.storeContainerStore{
    background-color: #fff;
    margin-top: 2rem;
    border-radius:.45rem;
    min-height:80vh;
    max-height: 80vh;
    overflow-y: auto    ;
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    

 
}

@media (max-width: 1366px) {
    .storeContainerStore{
        grid-template-columns: repeat(3, 1.5fr);
    }
  }

.list{
    background-color: #fff;
    border-radius: .4rem;
    margin: 2rem;

}
.storeContainerBar{
    margin-top: 3vh;
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
  
}
.divList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h2{
        font-size: 2vw;
        margin-left: -1vw;
    }
    ul{
        list-style: none;
        text-align: justify;
        margin-left: -1.6vw;
        margin-top: -.4vh;
        li{
            font-size: 1vw;
            cursor: pointer;
            text-align: justify;
            text-decoration: none;
                transition: .3s ease transform;
                &:hover{
                 transform: scale(1.1);
                }
        }
        
    }

}
.CardContainerItemList__buttonStore{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    button{
        background-color: $primaryColor !important;
        font-size: 0.6vw;
        margin-top: 1rem;
        margin-bottom: -1rem;
       
    }
    button:hover{
        background-color: lighten($color: $primaryColor, $amount: 10) !important;
    }
}
.containersas{
  max-height: 80vh;
} 

.containerPaginate{
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    margin-bottom: -1rem;
    button{
        margin-left: .4rem;
    }
}
.containerNUmber{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 5%;
    p{
        text-align: center;
        font-size: 1vw;
        margin: .4rem
    };
}