
.containerPrincipalStore{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    height: 90vh;
    width: 100vw;

}


.storeContainer{
    display: grid;
    grid-template-columns: 10vw 60vw;
    width: 70vw;
    height: 90vh;
}



.storeContainerStore{
    background-color: #fff;
    margin-top: 2rem;
    border-radius:.45rem;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1.5fr);
    

 
}

@media (max-width: 1366px) {
    .storeContainerStore{
        grid-template-columns: repeat(3, 1.5fr);
    }
  }

.list{
    background-color: #fff;
    border-radius: .4rem;
   margin: 2rem;

}
.storeContainerBar{
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divList{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h2{
        margin-left: 10%;
    }
    ul{
        list-style: none;
        text-align: justify;
        li{
            cursor: pointer;
            text-align: justify;
            text-decoration: none;
                transition: .3s ease transform;
                &:hover{
                 transform: scale(1.1);
                }
        }
        
    }

}
.titleList{
   

    
}